<div class="page-header">
    <h1>jouer ou créez vos propres merveilles</h1>
</div>
<div>
    <button class="btn btn-warning" ng-show="leafletmap.showHide" 
    ng-click="leafletmap.ChangeToApiFile(); leafletmap.getrndQuestion();">7 Merveilles du monde</button>
    <button class="btn btn-warning" ng-show="leafletmap.showHide" 
    ng-click="leafletmap.ChangeToApiForm(); leafletmap.getrndQuestion();">Jeu personnalisé</button>
    <button class="btn btn-success" ng-show="!leafletmap.showHide" ng-click="leafletmap.resetquestion();">Re Jouer</button>
    

    <br><br>
  
    <div class="jumbotron text-center" ng-show="leafletmap.rndquestion" ng-if="!leafletmap.showHide" style="background-image:url('outils/images/wonders.png');">
        <div class="questionStyle"><p ng-if="leafletmap.chance==null">{{leafletmap.rndquestion}}</p></div>
        <br>
        <div class="col-sm-6">
                <img class="img-thumbnail" ng-if="leafletmap.showimage" ng-src="data:image/jpg;base64,{{leafletmap.limage}}">
        </div>
        
        <br><br>
        <div class="col-sm-6">
                <div class="styleDescription"><p ng-if="leafletmap.chance==null" >{{leafletmap.rnddescription}}</p></div>
        </div>
        
    </div>
    
    <br>
    <div id="mapid" class="map"></div>
</div>